.burger {
    display: none;
    position: relative;
    --width: 21px;
    --height: 14px;
    --size-line: 2px;
    --color: var(--main-bg-color);
    width: var(--width);
    height: var(--height);
    cursor: pointer;
    background-color: transparent;
    border: none;
}

.burger__line {
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    height: var(--size-line);
    background-color: var(--color);
}

@media (max-width: 1000px) {
    .burger {
        display: block;
    }
}

@media (max-width: 580px) {

}